body {
  margin: 0;
  font-family: Arial, sans-serif;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: #007bff;
}
.sc-sLsrZ.eFDrVH {
  text-transform: uppercase;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  margin-left: 0px;
  font-size: 10px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  float: left;
  z-index: 1;
  border-radius: 50%;
  color: black;
  background-color: rgba(61, 77, 105, 0.3);
}

.border {
  border: 1px solid rgb(32, 190, 173) !important;
}

input.form-control:focus,
select.form-select:focus,
.react-select__control--is-focused {
  border: 1px solid rgb(32, 190, 173) !important;
  box-shadow: none !important;
}

input.form-control:hover,
select.form-select:hover {
  border: 1px solid rgb(32, 190, 173) !important;
}

.react-select__control {
  border: 1px solid #ced4da;
  transition: border-color 0.2s;
}

.react-select__control:hover {
  border: 1px solid rgb(32, 190, 173);
}

.react-select__control--is-focused {
  border: 1px solid rgb(32, 190, 173);
  box-shadow: none;
}

input.form-control:focus,
select.form-select:focus,
.react-select__control--is-focused {
  border: 1px solid rgb(32, 190, 173) !important;
  box-shadow: none !important;
}

input.form-control:hover,
select.form-select:hover {
  border: 1px solid rgb(32, 190, 173) !important;
}

.react-select__control {
  border: 1px solid #ced4da;
  transition: border-color 0.2s;
}

.react-select__control:hover {
  border: 1px solid rgb(32, 190, 173);
}

.react-select__control--is-focused {
  border: 1px solid rgb(32, 190, 173);
  box-shadow: none;
}

.timeline-container {
  border: 1px solid rgb(194, 204, 225);;
}

.group:hover .group-hover {
  display: flex !important;
}

.date-box {
  height: 40px;
  width: 40px;
  border: 1px solid rgb(228, 231, 235);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: rgb(61, 77, 105);
  background: rgb(252, 253, 254);
  margin-top: 5px;
}

